name: Jira Deployment Link

on:
  push:
    branches:
      - main
      - dev

permissions:
  deployments: write
  contents: read

jobs:
  jira-deploy:
    runs-on: ubuntu-latest

    env:
      ENVIRONMENT: ${{ github.ref == 'refs/heads/main' && 'production' || 'development' }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Create Jira Deployment
        id: deployment
        uses: chrnorm/deployment-action@releases/v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          environment: ${{ env.ENVIRONMENT }}

      - name: Mark deployment success
        uses: chrnorm/deployment-status@releases/v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
          state: success
