name: Jira Deployment Link

on:
  push:
    branches:
      - main
      - dev

permissions:
  deployments: write
  contents: read

jobs:
  jira-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
          ref: ${{ github.ref }}

      # Jira 연동을 위한 Deployment 생성
      - name: Create Jira Deployment
        id: deployment
        uses: chrnorm/deployment-action@releases/v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          environment: ${{ github.ref_name == 'main' && 'production' || 'staging' }}
          initial_status: pending

      # 배포 상태 업데이트
      - name: Mark Deployment Status
        if: always()   # 실패해도 이 step은 실행되게 함
        uses: chrnorm/deployment-status@releases/v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          deployment_id: ${{ steps.deployment.outputs.deployment_id }}
          state: ${{ job.status }}    # success / failure 자동 변환
